#bodyDiv{
  position: fixed;
  
  min-width: 100%;
  min-height: 100%;
  background-image: url("/assets/bg_login_png.png");
<<<<<<< HEAD
=======
  background-size: 100%;
>>>>>>> ea81093d14017bc7510a427612c0fa67a692f736
}
/* .title{
    
  font-family: 'Quicksand', sans-serif;
} */


#loginForm{
  margin-top:10%;
  z-index: -10;
  padding-right: 10em;
  background: rgb(204, 204, 204);
  background: rgba(204, 204, 204, 0.5);
  /* filter:blur(1.5px); */
  

}

.loginbtn{
    padding-top: 2em;
}


  a.btn-social,
  .btn-social
  {
    
      border-radius: 50%;
      color: #ffffff !important;
      display: inline-block;
      height: 54px;
      line-height: 54px;
      margin: 8px 4px;
      text-align: center;
      text-decoration: none;
      transition: background-color .3s;
      webkit-transition: background-color .3s;
      width: 54px;
  }
  
  .btn-social .fa,.btn-social i
  {
      backface-visibility: hidden;
      moz-backface-visibility: hidden;
      ms-transform: scale(1);
      o-transform: scale(1);
      transform: scale(1);
      transition: all .25s;
      webkit-backface-visibility: hidden;
      webkit-transform: scale(1);
      webkit-transition: all .25s;
  }
  .btn-social:hover,.btn-social:focus
  {
      color: #fff;
      outline: none;
      text-decoration: none;
  }
  .btn-social:hover .fa,.btn-social:focus .fa,.btn-social:hover i,.btn-social:focus i
  {
      ms-transform: scale(1.3);
      o-transform: scale(1.3);
      transform: scale(1.3);
      webkit-transform: scale(1.3);
  }

  .btn-google-plus
  {
      background-color: #dd4b39;
  }

  .btn-google-plus:hover
  {
      background-color: #e47365;
      cursor:pointer;
  }

  .btn-facebook
  {
      background-color: #3b5998;
  }
  .btn-facebook:hover
  {
      background-color: #4c70ba;
      cursor:pointer;
  }

  .fa fa{
    font-size: 0.5em;
  }