
<div id="slideynav" >
<mat-tab-group mat-stretch-tabs="auto" layout-fill [selectedIndex]="selected" (selectedIndexChange)="selectChange()" >
      <mat-tab label="Courses" ><div class="content" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)"><app-courses></app-courses></div></mat-tab>
      <mat-tab label="Calendar"><div class="content" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)"><app-calendar></app-calendar></div></mat-tab>
      <mat-tab label="Notices"><div class="content" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)"><app-notices></app-notices></div></mat-tab>
      
</mat-tab-group>
 
<!-- <button mat-mini-fab>
            <mat-icon icon="logout" >logout</mat-icon>
</button>  -->
<button  click = "logOut()" id = "logoutbutton" class = "btn btn-primary"> <i class="glyphicon glyphicon-log-out"></i> Logout</button>


</div>

