<div id="slideynav" >
<mat-tab-group mat-stretch-tabs="auto" layout-fill [selectedIndex]="selected" (selectedIndexChange)="selectChange()" >
      <mat-tab label="Courses" ><div class="content" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)"></div></mat-tab>
      <mat-tab label="Calendar"><div class="content" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)"></div></mat-tab>
      <mat-tab label="Notices"><div class="content" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)"></div></mat-tab>
</mat-tab-group>
</div>

<div *ngIf = "authstate!=null">
      <h1> AHHH SHIBAI {{ authstate }}! What kinda email address is {{ email }} though?</h1>
</div>

<br>
<i>Hey but <button (click)="logOut()"> logout </button> and see what happens </i>

