#bodyDiv{
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-image: url("/assets/bg_auth.png");
  background-size: 100%;
}


#authForm{
  margin-top:10%;
  z-index: -10;
  padding-right: 10em;
  background: rgb(204, 204, 204);
  background: rgba(204, 204, 204, 0.5);

}

.authbtn{
    margin-top: 2em;
}